<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scael=1.0">
    <title>FBI database</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <!-- Основной контейнер -->
    <div class="page-container">
        <header>
            <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
            <nav class="menu">
                <a href="/">Главная</a>
                <h2>|</h2>
                <a href="/episodes">Эпизоды</a>
                <h2>|</h2>
                <a href="/actors">Актёры</a>
                <h2>|</h2>
                <a href="/characters">Персонажи</a>
            </nav>
            <div class="search-container">
                <input type="text" name="query" placeholder="Введите запрос">
                <button type="submit">Поиск</button>
            </div>
        </header>
        <h1>Актёры</h1>
        <div class="characters">
            <% actors.forEach(actor => { %>
                <div class="character">
                    <a href="/actor/<%= actor.id %>">
                        <img src="<%= actor.photo %>" alt="<%= actor.name %>">
                        <h2><%= actor.name %></h2>
                    </a>
                </div>
            <% }); %>
        </div>
    </div>
</body>
</html>
