<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBI Database</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/actor.css">
</head>
<body>
<div class="page-container">
    <header>
        <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
        <nav class="menu">
            <a href="/">Главная</a>
            <h2>|</h2>
            <a href="/episodes">Эпизоды</a>
            <h2>|</h2>
            <a href="/actors">Актёры</a>
            <h2>|</h2>
            <a href="/characters">Персонажи</a>
        </nav>
        <form action="/search" method="get" class="search-container" id="search-form">
            <input type="text" name="query" placeholder="Введите запрос" autocomplete="off">
            <button type="submit">Поиск</button>
        </form>
        <ul id="search-results"></ul>
    </header>
    
    <h1 class="page_name"><%= actor.name %></h1>
    <img src="<%= actor.photo %>" alt="<%= actor.name %>">
    <p><%= actor.description %></p>
    <a href="/actors" class="back">Назад к персонажам</a>
</div>
</body>
</html>
    