<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBI database</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/characters.css">
</head>
<body>
    <!-- Основной контейнер -->
    <div class="page-container">
        <header>
            <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
            <nav class="menu">
                <a href="/">Главная</a>
                <h2>|</h2>
                <a href="/episodes">Эпизоды</a>
                <h2>|</h2>
                <a href="/actors">Актёры</a>
                <h2>|</h2>
                <a href="/characters">Персонажи</a>
            </nav>
            <div class="search-container">
                <form action="/search" method="get" class="search-container" id="search-form">
                    <input type="text" name="query" placeholder="Введите запрос" autocomplete="off">
                    <button type="submit">Поиск</button>
                </form>
                <ul id="search-results"></ul>
            </div>
        </header>

        <h1 class="page_name">Персонажи</h1>
    <div class="characters">
        <% characters.forEach(character => { %>
            <div class="character">
                <a href="/character/<%= character.id %>">
                    <img src="<%= character.photo %>" alt="<%= character.name %>">
                    <h2><%= character.name %></h2>
                </a>
            </div>
        <% }); %>
    </div>
</div>
</body>
</html>
