<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scael=1.0">
    <title>FBI database</title>
    <link rel="stylesheet" href="/CSS/main.css">
</head>
<body>
    <header>
        <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
        <nav class="menu">
            <a href="/">Главная</a>
            <h2>|</h2>
            <a href="/episode">Эпизоды</a>
            <h2>|</h2>
            <a href="/cast">Актёры</a>
            <h2>|</h2>
            <a href="/user/:username">Персонажи</a>
        </nav>
        <div class="search-container">
            <input type="text" name="query" placeholder="Введите запрос">
            <button type="submit">Поиск</button>
        </div>
    </header>
</body>
<body>
    <h1 class="headings">Episdeo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque quas non laborum illum aliquid, tempora quo at repellat expedita incidunt reprehenderit quisquam, repellendus nobis eligendi ratione ipsum. Modi, rerum asperiores.</p>
    
</body>
</html>
