<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBI Database</title>
    <link rel="stylesheet" href="/CSS/main.css">    
    <script href="/js/search.js"></script>
</head>
<body>
    <!-- Основной контейнер -->
    <div class="page-container">
        <header>
            <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
            <nav class="menu">
                <a href="/">Главная</a>
                <h2>|</h2>
                <a href="/episodes">Эпизоды</a>
                <h2>|</h2>
                <a href="/actors">Актёры</a>
                <h2>|</h2>
                <a href="/characters">Персонажи</a>
            </nav>
            <form action="/search" method="get" class="search-container" id="search-form">
                <input type="text" name="query" placeholder="Введите запрос" autocomplete="off">
                <button type="submit">Поиск</button>
            </form>
            <ul id="search-results"></ul>
            
            <!-- Тестовая форма 
            <form id="search-form">
                <input 
                  type="text" 
                  id="search-input" 
                  name="query" 
                  placeholder="Поиск..." 
                  autocomplete="off" 
                />
                <button type="button">🔍</button>
              </form>
              <ul id="search-results"></ul>-->
        </header>
    
        <div class="content">
            <div class="left">
                <h2>Левая часть</h2>
                <p>Это текст в левой части. Здесь может быть информация, которая отображается слева от линии.</p>
            </div>

            <!-- Разделительная линия -->
            <div class="divider"></div>

            <div class="right">
                <h2>Правая часть</h2>
                <p>Это текст в правой части. Здесь может быть информация, которая отображается справа от линии.</p>
            </div>
        </div>
    </div>
</body>
</html>
