<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBI Database</title>
    <link rel="stylesheet" href="/CSS/main.css">    
</head>
<body>
    <!-- Основной контейнер -->
    <div class="page-container">
        <header>
            <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
            <nav class="menu">
                <a href="/">Главная</a>
                <h2>|</h2>
                <a href="/episode">Эпизоды</a>
                <h2>|</h2>
                <a href="/cast">Актёры</a>
                <h2>|</h2>
                <a href="/characters">Персонажи</a>
            </nav>
            <div class="search-container">
                <input type="text" name="query" placeholder="Введите запрос">
                <button type="submit">Поиск</button>
            </div>
        </header>

        <div class="content">
            <div class="left">
                <h2>Левая часть</h2>
                <p>Это текст в левой части. Здесь может быть информация, которая отображается слева от линии.</p>
            </div>

            <!-- Разделительная линия -->
            <div class="divider"></div>

            <div class="right">
                <h2>Правая часть</h2>
                <p>Это текст в правой части. Здесь может быть информация, которая отображается справа от линии.</p>
            </div>
        </div>
    </div>
</body>
</html>
