<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBI Database</title>
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/slider.css">    
    <script href="/js/search.js"></script>
</head>
<body>
    <!-- Основной контейнер -->

    <!-- Шапка -->
    <div class="page-container">
        <header>
            <img src="/CSS/sample/logo/Jeffersonian_Anthropology_Unit_logo.png" alt="Stories Icon" id="stories-icon">
            <nav class="menu">
                <a href="/">Главная</a>
                <h2>|</h2>
                <a href="/episodes">Эпизоды</a>
                <h2>|</h2>
                <a href="/actors">Актёры</a>
                <h2>|</h2>
                <a href="/characters">Персонажи</a>
            </nav>
            <form action="/search" method="get" class="search-container" id="search-form">
                <input type="text" name="query" placeholder="...." autocomplete="off">
                <button type="submit">Поиск</button>
            </form>
            <ul id="search-results"></ul>
        </header>
    
        <div class="content">
            <div class="left">
                <h1 class="page_name">Главная</h1>
                <img src="/images/bones_logo.png" alt="" width="500px" class="bones_logo">
                <p class="description_s">Сериал "Кости" повествует о совместной работе судебных антропологов университета имени Джефферсона и ФБР 
                    в расследовании особо сложных дел, в которых единственная улика — это изуродованный труп</p>
                    <p class="description_s">"Кости" — это увлекательный детективный сериал, который рассказывает о работе группы экспертов-криминалистов, занимающихся расследованием сложных преступлений с использованием судебной антропологии и медицины. Главной героиней является доктор Темперанс Бреннан (Эмили Дешанель), гениальный, но социально неуклюжий антрополог, которая работает в престижном Институте Джефферсона в Вашингтоне. Её работа заключается в анализе человеческих останков, часто в крайне плохом состоянии, чтобы установить причину и обстоятельства смерти.

                        Темперанс работает в команде с федеральным агентом ФБР Сили Бутом (Дэвид Бореаназ), бывшим снайпером армии США. Несмотря на различия в их подходах к расследованию (Бреннан предпочитает опираться на науку и факты, а Бут верит в интуицию и психологию), они образуют идеальную команду, дополняя друг друга в решении самых сложных дел.
                        
                        </p>

                        <p>
                            ⠀
                        </p>
                <!-- Слайдер -->
            <div class="slider" id="slider">
                        <div class="slider-track">
                            <div class="slide"><img src="images_for_slider/1.jpg" alt="Slide 1"></div>
                            <div class="slide"><img src="images_for_slider/2.jpg" alt="Slide 2"></div>
                            <div class="slide"><img src="images_for_slider/3.jpg" alt="Slide 3"></div>
                            <div class="slide"><img src="images_for_slider/4.jpg" alt="Slide 4"></div>
                            <div class="slide"><img src="images_for_slider/5.jpg" alt="Slide 5"></div>
                            <div class="slide"><img src="images_for_slider/6.jpg" alt="Slide 6"></div>
                        </div>
                        <div class="controls">
                            <button class="control prev">&#8249;</button>
                            <button class="control next">&#8250;</button>
                        </div>
                        <div class="dots"></div>
                    </div>
            
            <script src="/js/slider.js"></script>
            </div>

        </div>
    </div>
</body>
</html>
