
/*Основа каждой страницы*/

/*Редактирован загаловка в начале каждой страницы*/
.page_name{
    font-family: Geneva, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 20px;
}

/* Основной стиль для body */
body {
    background-color: #021024; /* Фон за пределами контента */
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh; /* Высота страницы */
    display: flex;
    justify-content: center; /* Центрирование контейнера по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    padding: 20px; /* Отступы для фона */
    box-sizing: border-box;
    /* Отвесттвенное за скролинг */
    min-height: 100%;
    height: auto;
    overflow: auto;
}

/* Контейнер для всей страницы */
.page-container {
    width: 97%; /* Увеличена ширина на 30% */
    max-width: 1560px; /* Максимальная ширина */
    min-width:500px;
    height: 97%; /* Увеличена высота на 30% */
    background-color: white; /* Белый фон для основного контента */
    border-radius: 20px; /* Закругление углов */
    overflow: hidden; /* Скрыть всё, что выходит за края */
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); /* Тень для объёма */
    display: flex;
    flex-direction: column; /* Шапка сверху, контент снизу */
    flex: 5;
    background-color: #7da0ca;
    border-radius: 20px 20px 20px 20px; /* Закругление нижнего левого угла */
} 

/* Шапка */
header {
    height: 150px; /* Высота шапки */
    /*background: linear-gradient(270deg, #001E63 0%, #002675 40%, #0044A1 70%, #E1E3E5 100%);*/
    background-color: #052659;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
    color: white;
}

/* Иконка Stories */
#stories-icon {
    position: absolute;
    bottom: 10px;
    left: 1px;
    width: 165px; /* Размер иконки */
    height: 130px;
}

/* Меню в центре */
.menu {
    display: flex;
    gap: 20px; /* Расстояние между пунктами меню */
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Ссылки меню */
.menu a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white; /* Белая рамка */
    border-radius: 20px; /* Закруглённые углы */
    transition: all 0.3s;
}

.menu a:hover {
    background-color: white;
    color: #001E63;
    border: 2px solid #001E63;
}

/* Разделители меню */
.menu h2 {
    margin: 0;
    font-size: 18px;
    color: white;
}

/* Поиск в правом верхнем углу */
.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    right: 20px;
}

/* Поле ввода */
.search-container input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 20px; /* Закругление углов */
    background-color: transparent;
    color: white;
    outline: none;
    transition: all 0.3s;
    max-width: 100px; /* Уменьшена ширина */
}

.search-container input[type="text"]:focus {
    background-color: white;
    color: #001E63;
    border: 2px solid #001E63;
}

/* Кнопка поиска */
.search-container button {
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background-color: #001E63;
    border: 2px solid white;
    border-radius: 20px; /* Закругление углов */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.search-container button:hover {
    background-color: white;
    color: #001E63;
    border: 2px solid #001E63;
}

/* Редактирование homepage */

.bones_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.description_s{
    font-size: 15px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    float: right;
}
/* Контейнер для контента */
.content {
    display: flex;
    height: calc(100% - 150px); /* Контент занимает оставшуюся высоту */
}

/* Стили для резултятов поиска */
#search-results {
    position: absolute;
    background: white;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    z-index: 1000;
  }
  
  #search-results li {
    padding: 8px;
    cursor: pointer;
  }

  .result {
    margin-left: 18px;
  }
  
  #search-results li:hover {
    background-color: #f0f0f0;
  }

  .back {
    text-align: center;
    background-color: yellow;
    color: #001E63;
    border: 2px solid #001E63;
  }

/* Убирает полностью полосу прокрутки */
::-webkit-scrollbar {
    width: 0;
}